.body {
  font-family: "Roboto", sans-serif;
  background-color: lightgray;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "aside aside main main"
    "footer footer footer footer";
  grid-gap: 10px;
}

nav {
  grid-area: nav;
  background-color: #0b0d7f;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

main {
  grid-area: main;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

aside {
  grid-area: aside;
  background-color: lightgray;
  margin-left: 10px;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1fr 1fr 1fr;

}
.categorias {
  margin: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;

}



.grid-container-productos {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;

  
}

.cards-container {
  padding: 10px;
  max-width: 300px;
  max-height: 500px;
  margin: 10px;
  
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: center;
  font-size: 15px;
  color: black;
  padding: 2px;
  font-family: "Roboto", sans-serif;
}


footer {
  padding: 10px;
  grid-area: footer;
  background-color: lightgray;
  color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.btn{
  background-color:#0b0d7f;
  color: white;
  border-color: #0b0d7f;
  padding-top: 5px;
  padding: 5px;
  border-radius: 5px;

}
